body.dashboard {
  background: black;
  color: white;
  #app {
    min-height: 100dvh;
    display: grid;
    max-width: 600px;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    margin: 0 auto;
    grid-template-areas:
      "header"
      "main"
      "nav";
    grid-template-rows: auto 1fr auto;
  }
}