#app {
  margin: 0 auto;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  max-width: 900px;
  min-height: 100dvh;
}

.btn {
  border: 1px solid #555;
  border-radius: 10em;
  padding: 8px 24px;
  display: inline-block;
}
