body.landing {
  background: url("/marinabay.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100dvh;
  #app {
    position: relative;
    min-height: 100dvh;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 100%);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-inline: 1rem;
  }
  
  @media (min-width: 768px) {
    .container {
      padding-inline: 2rem;
    }
  }
}
