body.landing {
  /* background: url("/marinabay.jpg") no-repeat center center fixed; */
  /* background-size: cover; */
  
  position: relative;
  min-height: 100dvh;
  #app {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 2%, rgba(0,0,0,0.4) 100%);
    position: relative;
    height: 100%;
    min-height: 100dvh;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-inline: 1rem;
  }
  
  @media (min-width: 768px) {
    .container {
      padding-inline: 2rem;
    }
  }
}
