body {
  background: url("/marinabay.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-inline: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }
}